In [ ]:
!pip install mysqlclient
# !pip install sqlalchemy

Collecting mysqlclient
  Downloading mysqlclient-2.1.0.tar.gz (87 kB)
     |████████████████████████████████| 87 kB 3.0 MB/s
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.0-cp37-cp37m-linux_x86_64.whl size=99971 sha256=0c38226616d3289dbd21a4636c7dd91d64e4fe7c3e82e588e01ef48711ddda23
  Stored in directory: /root/.cache/pip/wheels/97/d4/df/08cd6e1fa4a8691b268ab254bd0fa589827ab5b65638c010b4
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.0

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [ ]:
engine = create_engine('mysql://utente237:d1r0mp3nt3@90.147.166.237/db237')
con = engine.connect()

In [ ]:
sql = 'SELECT productName, productLine FROM products'
result = con.execute(text(sql))

In [ ]:
sql = 'SELECT * FROM productiond'
result = con.execute(text(sql))
#first option to fetch the data
for row in result:
  productLine = row['productLine']
  productNmae = row['productName']
  print(row)

#second option
result.fetchone()
# third option
result.fetchall()
# forth option
result.fetchmany(10)

In [ ]:
def get_products_over_price(con, price):
  sql = f'SELECT productName, productLine, buyPrice FROM product WHERE buyPrice > {prcie}'
  result_set = con.execute(text(sql))
  output = []
  for result in result_set:
    output.append((result[0], result[2]))
  return output

In [ ]:
get_product_over_price(con, 90)

In [ ]:
productLine = 'Classic Cars'

def select_products_by_line(productLine):
  sql = f'SELECT productNAme, productLine FROM product WHERE productLine ={prodcutLine}'
  print(sql)

  select_products_by_line(productLine)

In [ ]:
sql = 'Class cars UNION SELECT uder, password from users'
select_products_by_line(sql)